.feynman__link {
  line-height: 52px;
  font-size: 36px;
  display: flex;
  position: absolute;
  right: 48px;
  align-items: center;
  top: 0;
  bottom: 0;
}

.feynman__link:hover {
  opacity: 0.5;
}
