@import url(./styles/normalize.css);
@import url(./styles/fonts.css);

@import url(./blocks/logo/_place_header.css);
@import url(./blocks/header/header.css);
@import url(./blocks/description/description.css);
@import url(./blocks/two-columns/two-columns.css);

.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.link {
  text-decoration: none;
  color: #2f80ed;
}