.footer__columns {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}

.column-heading {
  padding: 0;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  margin-top: 0;
}
