.footer__column-copyright {
  display: flex;
  flex-basis: 711px;
  justify-content: space-between;
  flex-direction: column;
  align-content: space-between;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}
