.footer__columns {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto 0;
}

.footer__column-heading {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  margin: 0;
}
