@import url(./__author/__author.css);
@import url(./__title/__title.css);
@import url(./__quote/__quote.css);
@import url(./__quote/__quote-author/__quote-author.css);
@import url(./__quote/__quote-author/__quote-author-subline.css);

.khan {
  background-color: #f2f2f2;
  padding-top: 100px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
