@import url(../section-title/section-title_theme_dark.css);
@import url(./__triangle/__triangle.css);

.kaufman {
  margin: auto;
  background-color: #000;
  overflow: hidden;
  color: white;
  position: relative;
  padding: 100px 0 100px;
  z-index: -2;
}
