@import url(./__brief/__brief.css);
@import url(./__main-text/__main-text.css);
@import url(./__main-text/__paragraph/__paragraph.css);
@import url(./__main-text/__span_accent/__span_accent.css);



.two-columns {
  width: 80%;
  columns: 2;
  display: flex;
  justify-content: space-between;
  margin: auto;
}
