.footer__list {
  list-style: none;
  padding: 0;
  margin-top: 0;
}

.footer__list-link {
  padding-bottom: 18px;
  display: flex;
  row-gap: 20px;
  flex-direction: column;
  margin: 0;
  text-decoration: none;
  color: white;
}

.footer__list-link:hover {
  opacity: 0.5;
}
