.footer {
  background-color: #000;
  color: white;
  min-height: 350px;
  display: flex;
  position: relative;
  box-sizing: border-box;
  padding-top: 60px;
  padding-bottom: 40px;
}

.footer__author {
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  bottom: 0;
  padding-top: 18px;
}

.footer__social-icons {
  padding-bottom: 18px;
  text-decoration: none;
  color: white;
  width: 16px;
  height: 16px;
}

.footer__link-social {
  padding-bottom: 18px;
  display: flex;
  row-gap: 20px;
  flex-direction: column;
  margin: 0;
  text-decoration: none;
  color: white;
}
