@import url(./__columns/__columns.css);
@import url(./__columns/__column_content_copyright.css);
@import url(../logo/_place_footer.css);

.footer {
  background-color: #000;
  color: white;
  min-height: 350px;
  display: flex;
  position: relative;
  box-sizing: border-box;
  padding-top: 60px;
  padding-bottom: 40px;
}
