.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.header {
  background-color: #f2f2f2;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  z-index: -2;
  margin-bottom: 100px;
}

.logo_place_header {
  width: 154px;
  height: 31px;
  position: absolute;
  left: 64px;
  top: 30px;
  z-index: 0;
}

.header__title {
  width: 730px;
  display: flexbox;
  margin-left: 64px;
  z-index: 1;
  font-size: 102px;
  line-height: 96px;
  font-weight: bold;
}

.header__subtitle {
  width: 388px;
  margin-left: 64px;
  z-index: 1;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  bottom: 30px;
}

.link {
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration {
  width: 756px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.header__square {
  background-color: #2f80ed;
  width: 568px;
  height: 568px;
  position: absolute;
  right: 0;
  margin-top: 64px;
  z-index: -2;
}

.description {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 100px;
}

.two-columns {
  display: flex;
  width: 100%;
  columns: 2;
  display: flex;
  justify-content: space-between;
}

.two-columns_brief {
  width: 175px;
  font-size: 18px;
  line-height: 1.2;
  color: #2f80ed;
  margin-left: 100px;
}

.two-columns_main-text {
  width: 80%;
  min-width: 784px;
  margin: auto;
}

.main-text__paragraph {
  line-height: 34px;
  font-size: 24px;
  min-width: 784px;
  width: 80%;
  row-gap: 30px;
  margin: 0 auto 0;
}

.main-text__paragraph_text {
  margin-top: 0;
}

.main-text__span_accent {
  font-weight: bold;
}

.digits {
  margin: 0 0 100px;
}

.section-title-container {
  width: 100%;
}

.section-title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  width: 60%;
  margin: auto;
  text-align: center;
}

.section-subtitle {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
}

.table {
  display: flex;
  row-gap: 60px;
  width: 1100px;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-between;
  margin: auto;
  padding: 0;
  z-index: 0;
}

.table_cell {
  width: 250px;
  display: flex;
  row-gap: 20px;
  flex-direction: column;
  margin: 0;
}

.table__heading {
  font-size: 24px;
  line-height: 1.15;
  font-weight: bold;
  margin: 0;
}

.table__text {
  font-size: 18px;
  line-height: 1.2;
  margin: 0;
}

.feynman {
  background-color: #f2f2f2;
  height: 790px;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  z-index: -2;
  align-items: center;
  margin-top: 90px;
  row-gap: 80px;
  z-index: -2;
}

.feynman_title {
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  width: 775px;
  justify-content: center;
  text-align: center;
  margin: 0;
}

.feynman_subtitle {
  line-height: 51px;
  font-size: 36px;
  display: flex;
  justify-content: center;
  margin: 0;
  font-weight: normal;
}

.link__feynman {
  line-height: 52px;
  font-size: 36px;
  display: flex;
  position: absolute;
  right: 48px;
  align-items: center;
}

.feynman_background-image {
  width: 867px;
  height: 637px;
  margin: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -2;
}

.kaufman {
  margin: auto;
  background-color: #000;
  overflow: hidden;
  color: white;
  position: relative;
  padding: 100px 0 100px;
}

.section-title_theme_dark {
  width: 60%;
  margin: auto;
  padding: 90px 0 0;
  text-align: center;
}

.section-subtitle_theme_dark {
  line-height: 34px;
  font-size: 24px;
}

.table__cell_theme_dark {
  width: 200px;
}

.kaufman__triangle {
  position: absolute;
  top: 0;
  right: -124px;
  width: 660px;
  height: 636px;
  z-index: -1;
}

.footer {
  background-color: #000;
  color: white;
  min-height: 350px;
  display: flex;
  position: relative;
  box-sizing: border-box;
  padding-top: 60px;
  padding-bottom: 40px;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}

.footer__column_content_copyright {
  display: flex;
  flex-basis: 711px;
  justify-content: space-between;
  flex-direction: column;
  align-content: space-between;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.logo_place_footer {
  width: 183px;
  height: 35px;
  align-self: start;
}

.footer__author {
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  bottom: 0;
}

.footer__column_content_about {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}

.column-heading {
  padding: 0;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
}

.footer__list {
  list-style: none;
  right: 0;
}

.footer__list__text {
  display: flex;
  row-gap: 20px;
  flex-direction: column;
  margin: 0;
}

.footer__column_content_social {
}

.footer-text__column_link {
  list-style: none;
}
